
body {
  font-family: DIN, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  padding-top: 66px;
  color: #546673;
}
p, div {
font: 1.01em/1.5em Verdana, "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
font-size: 1.01em;
}
p.lead{
  font-size: 1.2em;
}
section.section {
  position: relative;
  font-family: ariel;
}
/* change of bootstrap defaults: */
a {
  color: #009abb;
}
a:hover,
a:focus {
  color: #546673;
}
hr {
  border-top: 1px solid #e4e7ee;
}
.text-muted {
  color: #c2c9d4;
}
.text-primary {
  color: #00bce4;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: DIN, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small {
  color: #c2c9d4;
}
h1,
.h1 {
  font-size: 38px;
}
h2,
.h2 {
  font-size: 32px;
}
.page-header {
  border-bottom: 1px solid #e4e7ee;
}
abbr[title],
abbr[data-original-title] {
  border-bottom: 1px dotted #c2c9d4;
}
blockquote {
  border-left: 5px solid #e4e7ee;
}
blockquote small {
  color: #c2c9d4;
}
pre {
  color: #546673;
  border-radius: 2px;
}


/* original changes */
h1,
h2,
h3,
h4,
h5 {
  font-weight: 300;
}
a {
  -webkit-transition: 0.15s all ease-in-out;
  transition: 0.15s all ease-in-out;
}
a:hover {
  text-decoration: none;
}
a:active {
  color: #353a3d;
}
a.icon-link {
  color: #c2c9d4;
}
a.icon-link:hover {
  color: #00bce4;
}
a.icon-link:active {
  color: #353a3d;
}
.tooltip {
  font-weight: 300;
}
.not-ready {
  color: #965eee;
}
.screenshot {
  -webkit-box-shadow: 0 1px 6px 0 rgba(53, 58, 61, 0.1);
  box-shadow: 0 1px 6px 0 rgba(53, 58, 61, 0.1);
}
.pad-below {
  margin-bottom: 2em;
}

.navigation-section {
  min-height: 68px;
  margin-bottom: 20px;
}

#nav.affix {
  -webkit-transition: 1s all ease-in-out;
  transition: 1s all ease-in-out;
  }
#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
}


.navbar {
  background: rgba(255, 255, 255, 1);
  font-size: 18px;
  -webkit-box-shadow: 0 0 0 1px rgba(53, 58, 61, 0.1);
  box-shadow: 0 0 0 1px rgba(53, 58, 61, 0.1);
  margin-bottom: 0;
}
.navbar a.navbar-ico {
  text-indent: -10em;
  overflow: hidden;
  position: relative;
  width: 100px;
  padding-left: 00px;
  margin-right: 30px;
  left: 37px;

  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}
.navbar a.navbar-ico:before, 
.navbar a.navbar-ico:after {
  content: " ";
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  background-image: url('../imgs/logo-navbar.png'); 
  background-size: 100%;
  background-position: left top;
  top: 18px;
  /*left: 55px;*/
  left: 0px;
 opacity: 1; 
}
.navbar a.navbar-ico:after {
 opacity: 0; 
  background-position: left bottom;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
}
.navbar a.navbar-ico:hover:after {
  background-position: left bottom;
  opacity: 1;
  transition: opacity .5s ease-out;
  -moz-transition: opacity .5s ease-out;
  -webkit-transition: opacity .5s ease-out;
  -o-transition: opacity .5s ease-out;
}
.navbar-header {
  min-height: 60px;
}

.navbar ul.nav li a {
  padding-top: 24px;
}
.navbar a#nav-top {
  display: block;
  opacity: 0;
  float: right;
}
.navbar-toggle {
  margin-top: 14px;
  border: none;
  right: inherit;
  left: 10px;
  width: 42px;
  text-indent: center;
}
.navbar-toggle:hover,
.navbar-toggle:active,
.navbar-toggle:focus {
  background: #e4e7ee;
}
.navbar ul.nav li a {
padding-top: 24px;
}
.navbar-nav > li > a {
padding-top: 22px;
padding-bottom: 22px;
color: #546673;
line-height: 20px;
border-radius: 2px;
}
.nav > li > a {
position: relative;
display: block;
}
/*
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
  color: #00bce4;
  background-color: rgba(127, 145, 158, 0.05);
}
*/
.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus {
  background-color: #e4e7ee;
}

.navbar-toggle span.icon-bar {
  background-color: #c2c9d4;
  width: 18px;
  border-radius: 0;
}
section.section {
  position: relative;
}
div.portfolio-navigator {
  width: 100%;
  position: absolute;
  left: 0px;
}
div.portfolio-navigator .container {
  position: relative;
}
div.portfolio-navigator.portfolio-navigator-bottom {
  bottom: 10px;
}
div.portfolio-navigator.portfolio-navigator-top {
  top: 14px;
}
div.portfolio-navigator a {
  opacity: .25;
  color: #353a3d;
}
div.portfolio-navigator a.portfolio-navigator-all {
  float: right;
  display: none;
}
div.portfolio-navigator a:hover {
  opacity: .85;
}
div.portfolio-navigator a i {
  display: inline-block;
  text-indent: -100em;
  overflow: hidden;
  width: 15px;
  height: 12px;
  background-image: url('../styles/arrow-small-sprite.png');
  background-position: left top;
  background-size: 30px 24px;
}
div.portfolio-navigator a i.nav-icon-down {
  background-position: left bottom;
}
div.portfolio-navigator a i.nav-icon-light {
  background-position: right top;
}
div.portfolio-navigator a i.nav-icon-light.nav-icon-down {
  background-position: right bottom;
}
div.portfolio-navigator.portfolio-navigator-invert a {
  color: #c2c9d4;
}
section#section-intro {
  padding-bottom: 40px;
}
section#section-intro img {
  float: left;
  margin-right: 2em;
}
@media (max-width: 480px) {
  section#section-intro {
    text-align: center;
  }
  section#section-intro img {
    float: none;
  }
}
/*
@media (max-width: 767px){
  .nav-brand {
    margin-left: -15px;
  }
}*/

section#section-profile {
  padding: 40px;
}

section#section-portfolio {
  padding-top: 77px;
  padding-bottom: 84px;
  background: #546673;
  color: #e4e7ee;
}
section#section-portfolio h3 {
  font-size: 21px;
}
section#section-portfolio .thumb-wrap {
  margin-bottom: 96px;
}
section#section-portfolio a.portfolio-link aside {
  height: 275px;
  width: 100%;
  background-image: url('../imgs/portfolio-thumbnail-coming-soon.png');
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  -webkit-transition: 0.15s all ease-in-out;
  transition: 0.15s all ease-in-out;
}
section#section-portfolio a.portfolio-link span {
  margin-top: 1.5em;
  display: block;
  color: #e4e7ee;
  border: 1px solid #e4e7ee;
  padding: 12px;
  text-align: center;
  -webkit-transition: 0.15s all ease-in-out;
  transition: 0.15s all ease-in-out;
}
section#section-portfolio a.portfolio-link span i {
  display: block;
  height: 1px;
  overflow: visible;
}
section#section-portfolio a.portfolio-link:hover aside {
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.8);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.8);
}
section#section-portfolio a.portfolio-link:hover span {
  color: white;
  background: rgba(53, 58, 61, 0.1);
}
section#section-portfolio a.portfolio-link.portfolio-link-inactive aside {
  -webkit-box-shadow: none;
  box-shadow: none;
}
section#section-portfolio a.portfolio-link.portfolio-link-inactive span {
  opacity: .3;
}
section#section-portfolio a.portfolio-link.portfolio-link-inactive:hover span {
  color: #e4e7ee;
  background: transparent;
}
section#section-portfolio p.muted {
  color: #c2c9d4;
}
section#section-portfolio p.muted a {
  color: #c2c9d4;
  text-decoration: underline;
}
section#section-portfolio p.muted a:hover {
  color: #e4e7ee;
}
@media (min-width: 992px) and (max-width: 1200px) {
  section#section-portfolio a.portfolio-link aside {
    height: 235px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  section#section-portfolio a.portfolio-link aside {
    height: 190px;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  section#section-portfolio a.portfolio-link aside {
    height: 250px;
  }
}
@media (min-width: 0) and (max-width: 480px) {
  section#section-portfolio a.portfolio-link aside {
    height: 130px;
  }
}
section#section-lumen {
  padding-top: 100px;
  padding-bottom: 97px;
}
section#section-lumen img,
section#section-lumen video {
  width: 100%;
}
section#section-lumen .lumen-intro {
  margin-top: 12%;
}
section#section-lumen .lumen-copy {
  margin-top: 14.85%;
}
section#section-lumen div#lumen-prototype {
  z-index: 2;
  position: relative;
  width: 100%;
}
section#section-lumen div#lumen-prototype img {
  position: absolute;
  top: 0;
  left: 0;
}
section#section-lumen div#lumen-prototype video#lumen-prototype-video {
  width: 84.5%;
  position: absolute;
  top: 14.6%;
  left: 8.35%;
}
section#section-lumen ul#phone-descriptions {
  margin-top: 4px;
}
ul#phone-controls {
  margin-left: -4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
ul#phone-controls li {
  opacity: .5;
  -webkit-transition: 0.25s opacity ease-in-out;
  transition: 0.25s opacity ease-in-out;
}
ul#phone-controls li i {
  display: inline-block;
  text-indent: -100em;
  overflow: hidden;
  width: 20px;
  height: 20px;
  background-image: url('../imgs/arrow-left-right-sprite.png');
  background-position: 0 0;
  background-size: 40px 20px;
}
ul#phone-controls li#phone-trigger-next i {
  background-position: -20px 0;
}
ul#phone-controls li.animating {
  opacity: .2;
}
ul#phone-controls li.animating:hover {
  opacity: .4;
}
ul#phone-controls li.animating i {
  background-image: url('../imgs/loading-mini.gif');
}
ul#phone-controls li:hover {
  opacity: 1;
}
ul#phone-descriptions {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 400px;
  overflow: hidden;
}
ul#phone-descriptions li {
  position: absolute;
  width: 100%;
  top: 0;
  left: -20%;
  opacity: 0;
  z-index: 0;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}
ul#phone-descriptions li.deck-current {
  top: 0;
  left: 0;
  opacity: 1;
}
ul#phone-descriptions li.deck-next {
  left: 20%;
  z-index: 0;
}

@-webkit-keyframes radiate {
  0% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
@-moz-keyframes radiate {
  0% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes radiate {
  0% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
section#section-contact {
  padding-top: 78px;
  padding-bottom: 0;
  background: #fafcfc;
}
section#section-contact a.btn-primary {
  font-size: 1.8em;
  vertical-align: baseline;
  font-weight: 300;
  padding: 10px 25px 9px 22px;
  border-radius: 0;
  border: 1px solid rgba(0, 188, 228, 0.3);
  background: transparent;
  -webkit-transition: 0.15s all ease-in-out;
  transition: 0.15s all ease-in-out;
}
section#section-contact a.btn-primary span.entypo-twitter {
  color: #00bce4;
  margin-right: 10px;
  -webkit-transition: 0.15s all ease-in-out;
  transition: 0.15s all ease-in-out;
}
section#section-contact a.btn-primary:hover {
  color: #546673;
  background: rgba(0, 188, 228, 0.05);
  border: 1px solid rgba(0, 188, 228, 0.5);
}
section#section-contact a.btn-primary:hover span.entypo-twitter {
  color: #546673;
}
section#section-contact a.btn-primary:active {
  color: white;
  background: #353a3d;
}
section.section-footer {
  background: #fafcfc;
}
section.section-footer ul {
  margin-left: -9px;
}
section.section-footer ul li {
  margin: 0 6px 0 0;
  padding: 0;
}
section.section-footer ul li a {
  padding: 6px 10px 5px 10px;
  font-size: 1.6em;
  vertical-align: baseline;
  color: rgba(127, 145, 158, 0.8);
}












/** from igor */ 


::-moz-selection
{
  background: #bfbebd;
  color: #222;
  text-shadow: none;
}
::selection
{
  background: #bfbebd;
  color: #222;
  text-shadow: none;
}
svg:not(:root)
{
  overflow: hidden;
}
#life 
{
  color: #999;
  display: inline-block;
  font-family: 'Lucida Sans Typewriter',Monaco,'Courier','Courier New',monospace;
  font-size: 12px;
  white-space: nowrap;

}
#home ul.posts li time
{
  float: right;
}
time
{
  margin-left: 1em;
}
#home ul li a
{
  text-decoration: none;
}
#home .more
{
  float: right;
  font-size: 13px;
}
#home h3
{
  margin: .5em 0;
}
ul.posts
{
  list-style-type: circle;
}
#ilya
{
  padding: 15px 2em 0 2em;
}
#hero ul,#hero ul
{
  list-style-type: circle;
  padding-left: 0;
}
#hero h2
{
  color: #fff;
}
a.about
{
  float: right;
  font-size: 13px;
  padding-left: 3em;
}
#copyright
{
  background: #000;
  padding: 1em 2em;
}
#copyright span
{
  color: #bfbfbf;
  font-size: 11px;
}
#icons
{
  height: 38px;
  padding: .8em 0 .7em 0;
}
#icons a
{
  display: block;
  float: left;
  margin-right: .5em;
}
.button
{
  background: #77d42a;
  background: -moz-linear-gradient(top,#77d42a 0%,#5cb811 100%);
  background: -ms-linear-gradient(top,#77d42a 0%,#5cb811 100%);
  background: -o-linear-gradient(top,#77d42a 0%,#5cb811 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#77d42a),color-stop(100%,#5cb811));
  background: -webkit-linear-gradient(top,#77d42a 0%,#5cb811 100%);
  border: 1px solid #268a16;
  border-radius: 8px;
  color: #306108;
  font-weight: bold;
  padding: .5em 1.25em;
  text-decoration: none!important;
  text-shadow: 1px 1px 0px #aade7c;
}
.button:hover
{
  color: #00008f;
}
.book-cover
{
  float: left;
  height: 200px;
  margin-right: 1.5em;
  width: 138px;
}
#timeline-section, #timeline
{
  background-color: #272727;
  height: 550px;
  overflow: hidden;
}
#timeline {
    height: 628px;
    text-align: center; 
    overflow-x: scroll;
    overflow-y: hidden;
}
#timeline #life {
   height: 640px;
   width: 900px;
    text-align: left; 
}

@media (min-width: 768px){
    #timeline-section .container
    {
      width:100%;
    }
} /* thanks stack */ 

#timeline
{
  cursor: default;
  cursor: default;
  cursor: default;
  font-size: .9em;
  height: 0;
  moz-transition: all 1s ease-in-out;
  ms-transition: all 1s ease-in-out;
  o-transition: all 1s ease-in-out;
  transition: all 1s;
  webkit-transition: all 1s ease-in-out;
  width: 100%;
}
#arrow
{
  font-size: 7em;
  left: 105px;
  position: absolute;
  top: 250px;
}

#life {
  color: #747474;
}
#life a {
  color: white;
}
#life
{
  border-top: 1px solid #858585;
  overflow-y: hidden;
  padding-bottom: 1em;
  padding-top: 40px;
  position: relative;
}
#life section.year
{
  border-left: 1px dashed rgba(255,255,255,.1);
  bottom: 0;
  box-sizing: border-box;
  color: rgba(255,255,255,.3);
  min-height: 100%;
  moz-box-sizing: border-box;
  padding-left: 10px;
  padding-top: 10px;
  pointer-events: none;
  position: absolute;
  top: 0;
  white-space: nowrap;
}
#life .event
{
  padding-bottom: 5px;
  padding-right: 20px;
  vertical-align: middle;
  white-space: nowrap;
}
#life .event b
{
  padding-right: .5em;
}
#life .event .time
{
  border: 4px solid #fff;
  border-radius: 4px;
  display: inline-block;
  height: 0;
  left: -2px;
  margin-right: 10px;
  opacity: .5;
  overflow: hidden;
  position: relative;
}
#life .tag-postrank .time
{
  border: 4px solid #f6841f;
}
#life .tag-google .time
{
  border: 4px solid #00a3ff;
}
#life .tag-award .time
{
  border: 4px solid #4efc19;
}
#life .tag-uw .time
{
  border: 4px solid #fcd712;
}
#life .event:hover .time
{
  opacity: .8;
}
.clearfix:before,.clearfix:after
{
  content: "";
  display: table;
}
.clearfix:after
{
  clear: both;
}
.clearfix
{
  zoom: 1;
}

#instafeed a {
  display: inline-block;
  padding: 10px;
}